In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("loan.csv")
df.head()

,age,gender,occupation,education_level,marital_status,income,credit_score,loan_status
0,32,Male,Engineer,Bachelor's,Married,85000,720,Approved
1,45,Female,Teacher,Master's,Single,62000,680,Approved
2,28,Male,Student,High School,Single,25000,590,Denied
3,51,Female,Manager,Bachelor's,Married,105000,780,Approved
4,36,Male,Accountant,Bachelor's,Married,75000,710,Approved

In [3]:

from sklearn.preprocessing import LabelEncoder, MinMaxScaler

cat_cols = ['gender', 'occupation', 'education_level', 'marital_status', 'loan_status']
encoders = {col: LabelEncoder() for col in cat_cols}
for col in cat_cols:
    df[col] = encoders[col].fit_transform(df[col])

scaler = MinMaxScaler()
df[['age', 'income', 'credit_score']] = scaler.fit_transform(df[['age', 'income', 'credit_score']])

X = df.drop('loan_status', axis=1).values
y = df['loan_status'].values

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
y_train

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0])

In [16]:
from NN import MyNN
nn = MyNN(layer_sizes=[7, 8, 1], learning_rate=0.05, task='c', activation='sigmoid')
nn.train(X_train, y_train, epochs=1000)

Epoch 0/1000, Loss: 0.5953718334698245
Epoch 100/1000, Loss: 0.10883520521887095
Epoch 200/1000, Loss: 0.10169195738846544
Epoch 300/1000, Loss: 0.06256348100063115
Epoch 400/1000, Loss: 0.042929863381654824
Epoch 500/1000, Loss: 0.036297469124702386
Epoch 600/1000, Loss: 0.02601438063308853
Epoch 700/1000, Loss: 0.02750581672692472
Epoch 800/1000, Loss: 0.019424116018583883
Epoch 900/1000, Loss: 0.016443460552819793

In [19]:
correct = 0
for x, label in zip(X_test, y_test):
    pred = nn.predict(x)
    pred_label = 1 if pred >= 0.5 else 0
    if pred_label == label:
        correct += 1

accuracy = correct / len(X_test)
print(f"Test Accuracy: {accuracy * 100:.2f}%")

Test Accuracy: 92.31%

In [20]:
sample_data = {
    'age': 29,
    'gender': 'Female',
    'occupation': 'Teacher',
    'education_level': "Master's",
    'marital_status': 'Single',
    'income': 55000,
    'credit_score': 680
}

# Convert categorical values to numerical equivalents based on encoding you used earlier (e.g., LabelEncoder)
# Assuming we use the same label encoding from before (Gender, Occupation, etc.)
encoded_data = {
    'age': sample_data['age'],
    'gender': 0,  # Female encoded as 0
    'occupation': 1,  # Teacher encoded as 1 (use the same encoding from your preprocessing)
    'education_level': 2,  # Master's encoded as 2
    'marital_status': 0,  # Single encoded as 0
    'income': sample_data['income'],
    'credit_score': sample_data['credit_score']
}

# Convert to numpy array and reshape for input into the model
sample_input = np.array(list(encoded_data.values())).reshape(1, -1)

# Pass the sample input to the model
prediction = nn.predict(sample_input)  # Assuming you have a `predict` method in your NN

print("Predicted Loan Status:", prediction)

Predicted Loan Status: [[9.47541273e-06]]